# Coffee Code
DATABASE_URL=postgresql://coffee_user:coffee_pass@localhost:5432/coffee_code_db
POSTGRES_DB=coffee_code_db
POSTGRES_USER=coffee_user
POSTGRES_PASSWORD=coffee_pass

API_BASE_URL=http://localhost:8000
FLASK_SECRET_KEY=replace-with-a-secret-key
JWT_SECRET_KEY=replace-with-a-jwt-secret-key
